:root {
	--border-width: 0;


	/* colors */

	--text-color: #333333;
	--text-color-dark: peachpuff;

	--link-color: #333333;
	--link-color-dark: peachpuff;
	--link-hover: #2cb7ee;
	--link-hover-dark: orangered;

	--accent-color: orangered;
	--accent-color-dark: #2cb7ee;

	--back-color: #e6e6e6;
	--back-color-dark: #212224ff;
	--card-back-color: white;
	--card-back-color-dark: #373636;

	--shadow-color: hsla(0, 0%, 0%, 0.2);
	--shadow-color-dark: black;

	--border-col: black;
	--border-col-dark: white;

	display: grid;
	align-items: center;

	background-color: var(--back-color-dark);
}

::selection {
	background-color: var(--accent-color);
	color: white;
}

body {
	font-family: "Helvetica", sans-serif, monospace;
	width: 60%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	max-width: 100%;
	padding: 0 5rem 5rem 5rem;
	box-shadow: 0px 0px 20px #00000033;
	background-color: #e6e6e6;
	box-shadow: 5px 5px 25px #000000c1;
	border-radius: 25px;
	background-color: white;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
}

img,
video {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 1rem;
	box-shadow: 0 0 25px var(--shadow-color);
}

.imagem_pixelada {
	image-rendering: pixelated;
}

.pixelated_image {
	image-rendering: pixelated;
}

h1 {
	font-size: 42px;
	border-bottom: 0px;
}

h2,
h3 {
	border: var(--border-width) solid black;
	border-radius: 2rem 2rem 0 0;
	border-bottom: 0;
	padding: 1rem;
	width: fit-content;
	margin: 0 0 0 1rem;
	box-shadow: 0 -2px 10px var(--shadow-color);
	background-color: var(--card-back-color);
}

.title {
	font-size: 52px;
	color: orangered;
	text-align: center;
	font-size: 3vw;
}

.sided_image {
	--width: 400px;
	width: 49.7%;
	display: inline;
	text-align: center;
}

blockquote {
	border: var(--border-width) solid black;
	border-top: 0;
	margin: 0 2rem 1rem;
	color: var(--text-color);
	padding: 1rem;
	border-radius: 0 0 2rem 2rem;
	box-shadow: 0 3px 10px var(--shadow-color);
	background-color: var(--card-back-color);
}

hr {
	height: var(--border-width);
	background-color: var(--text-color-dark);
	max-width: 90%;
	margin: 3rem auto;
}

p {
	margin: 0;
	padding: 0;
}

.copyright {
	font-size: 12px;
}

#go-back-button {
	width: fit-content;
	text-align: center;
	background-color: var(--accent-color);
	padding: 1rem;
	position: fixed;
	top: 1rem;
	bottom: auto;
	left: 1rem;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	display: grid;
	place-items: center;
}

#go-back-button a {
	text-decoration: none;
	font-size: 100%;
	color: white;
}

li {
	margin: 0 0 15px 0;
}

#main-title {
	color: rgb(32, 146, 191);
}

#me-block {
	display: flex;
}

#about-me-card {
	display: flex;
	align-items: center;
}

.card {
	border: var(--border-width) solid black;
	box-shadow: 0px 3px 10px var(--shadow-color);
	border-radius: 25px;
	padding: 25px;
	margin: 25px;
	background-color: var(--card-back-color);
}

#main-profile-pic {
	border-radius: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: auto;
	object-fit: cover;
}

@media screen and (max-width: 1100px) {
	body {
		margin: auto;
		margin-top: 0;
		width: auto;
		border-radius: 0;
		box-shadow: none;
		padding: 3vw;
		padding-top: 0;
	}

	#me-block {
		display: inline-block;
	}

	#go-back-button {
		position: fixed;
		top: auto;
		bottom: 2rem;
		background-color: var(--accent-color-dark);
	}

	.title {
		font-size: 5vw;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--back-color-dark);
	}

	html {
		color: peachpuff;
	}

	body {
		background-color: var(--back-color-dark);
		--background-image: linear-gradient(var(--back-color-dark), var(--back-color-dark));
	}

	.title {
		color: var(--accent-color-dark);
	}

	blockquote {
		border-color: peachpuff;
		color: peachpuff;
		background-color: var(--back-color-dark);
	}

	hr {
		background-color: peachpuff;
	}

	img,
	video,
	h2,
	blockquote {
		box-shadow: 0 0 25px var(--back-color-dark);
	}

	h2 {
		border-color: peachpuff;
		background-color: var(--back-color-dark);
	}

	a {
		color: peachpuff;
	}

	a:hover {
		color: var(--link-hover-dark)
	}

	.card {
		background-color: var(--card-back-color-dark);
	}

	#go-back-button {
		background-color: var(--accent-color-dark);
	}
}