/* Roboto */

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-ThinItalic.ttf);
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-Black.ttf);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/roboto/Roboto-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
}

:root {
	--border-width: 0;

	font-family: 'Roboto', sans-serif;

	/* colors */

	--text-color: #333333;
	--text-color-dark: peachpuff;

	--link-color: #333333;
	--link-color-dark: peachpuff;
	--link-hover: #4fcdff;
	--link-hover-dark: orangered;

	--accent-color: orangered;
	--accent-color-dark: #4fcdff;

	--back-color: #f3f3f3;
	--back-color-dark: #202020;
	--card-back-color: #f7f7f7;
	--card-back-color-dark: #252525;

	--light-color: white;
	--shadow-color: rgba(209, 205, 199, 0.5);
	--shadow-color-dark: black;

	--border-col: black;
	--border-col-dark: white;

	--extrusion-up: .3rem .3rem .6rem var(--shadow-color), -.3rem -.3rem .6rem var(--light-color);
	--extrusion-down: inset .3rem .3rem .6rem var(--shadow-color), inset -.3rem -.3rem .6rem var(--light-color);

	display: grid;
	align-items: center;
	background-color: var(--back-color);
}

::selection {
	background-color: var(--accent-color);
	color: white;
}

body {
	margin: 0;
	width: 100%;
	font-weight: 400;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
}

img,
video {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 1rem;
	max-height: 75vh;
	object-fit: cover;
}

iframe {
	width: 100%;
	height: 35rem;
	border-radius: 1rem;
}

.imagem_pixelada {
	image-rendering: pixelated;
}

.pixelated_image {
	image-rendering: pixelated;
}

h1 {
	font-size: 42px;
	border-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto';
	padding: 1.2rem;
	width: fit-content;
	border-radius: 5rem;
	background-color: var(--card-back-color);
	box-shadow: var(--extrusion-up);
}

h4,
h5,
h6 {
	box-shadow: none;
}

p {
	padding: 1rem;
	font-size: 1.1rem;
	border-radius: 2rem;
	box-shadow: var(--extrusion-up);
}

blockquote {
	border: var(--border-width) solid black;
	color: var(--text-color);
	font-weight: 100;
}

hr {
	height: var(--border-width);
	background-color: var(--shadow-color);
	max-width: 75%;
	margin: 3rem auto;
	border: none;
	height: .5rem;
	border-radius: 2rem;

	box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1), inset -3px -3px 3px white;
}

ul {
	list-style: none;
	width: fit-content;
}

li {
	margin: 0 0 1rem 0;
	width: fit-content;
}

.button {
	border-radius: 2rem;
	padding: .75rem;
	box-shadow: var(--extrusion-up);
	width: fit-content;
}

.button:hover {
	box-shadow: var(--extrusion-down);
}

.title {
	color: orangered;
	text-align: center;
	font-size: 3vw;
}

.sided_image {
	--width: 400px;
	width: 49.7%;
	display: inline;
	text-align: center;
}

.copyright {
	font-size: x-small;
}

.main-card {
	width: 60%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#go-back-button {
	width: fit-content;
	text-align: center;
	background-color: var(--accent-color);
	padding: 1rem;
	position: fixed;
	top: 1rem;
	bottom: auto;
	left: 1rem;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	display: grid;
	place-items: center;

	box-shadow: 3px 3px 3px var(--shadow-color), -3px -3px 3px var(--light-color);
}

#go-back-button a {
	text-decoration: none;
	font-size: 100%;
	color: white;
}

#main-title {
	color: rgb(47, 199, 255);
	margin-top: 5vh;
	margin-bottom: 1rem;
}

#me-block {
	display: flex;
}

#about-me-card {
	display: flex;
	align-items: center;
}

#about-me-card p {
	font-style: italic;
	box-shadow: none;
}

.card {
	border: var(--border-width) solid var(--light-color);
	box-shadow: var(--extrusion-up);
	border-radius: 2rem;
	padding: 1rem;
	margin: 1.2rem;
	background-color: var(--card-back-color);
}

.inverted-card {
	border: var(--border-width) solid var(--light-color);
	box-shadow: var(--extrusion-down);
	border-radius: 25px;
	padding: 25px;
	margin: 25px;
	background-color: #ededed;
}

#main-profile-pic {
	border-radius: 100%;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: auto;
	object-fit: cover;
}

/* Individual stuff for artistic purposes */

#green-heart-title {
	color: green;
}

/**/

@media screen and (max-width: 1100px) {

	.main-card {
		margin: 0;
		width: auto;
		border-radius: 0;
		box-shadow: none;
		padding: 3vw;
		padding-top: 0;
	}

	#me-block {
		display: inline-block;
	}

	#go-back-button {
		position: fixed;
		top: auto;
		bottom: 2rem;
		background-color: var(--accent-color-dark);
	}

	.title {
		font-size: 5vw;
	}

	li {
		display: inline-block;
		margin: 0 .5rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--back-color-dark);

		--light-color: rgba(255, 255, 255, 0.05);
		--shadow-color: rgba(0, 0, 0, 0.3);
	}

	html {
		color: peachpuff;
	}

	body {
		background-color: var(--back-color-dark);
	}

	.title {
		color: var(--accent-color-dark);
	}

	blockquote {
		border-color: peachpuff;
		color: peachpuff;
		background-color: var(--back-color-dark);
	}

	hr {
		background-color: peachpuff;
	}

	img,
	video,
	h2,
	blockquote {
		box-shadow: 0 0 25px var(--back-color-dark);
	}

	h2 {
		border-color: peachpuff;
		background-color: var(--back-color-dark);
	}

	a {
		color: peachpuff;
	}

	a:hover {
		color: var(--link-hover-dark)
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		background-color: var(--card-back-color-dark);
	}

	.card {
		background-color: var(--card-back-color-dark);
	}

	#go-back-button {
		background-color: var(--accent-color-dark);
	}

	/* Individual stuff for artistic purposes */

	#green-heart-title {
		color: rgb(120, 208, 120);
	}

	/**/
}